@tailwind utilities;
@import url('../styles/theme.css');

@layer utilities {
  .container {
    @apply px-6 mx-auto max-w-[1170px];
  }

  .home-hero-bg {
    background-image: url('/png/home/home-desktop.png');
    width: 90%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (max-width: 768px) {
  .home-hero-bg {
    background-image: url('/png/home/home-mobile.png');
    width: 90%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
